.modal {
    background: rgba(40, 40, 40, 0.7);
    display: grid;
    position: absolute;
    place-content: center;
    grid-template-columns: calc(.20*var(--block-size) calc(8*var(--block-size)));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.modal .win {
    display: grid;
    position: relative;
    width: calc(6 * (var(--block-size)));
    height:calc(8.4*var(--block-size));
    background: var(--modal-bg);
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
    box-shadow: var(--shadow);
    color: rgb(26, 131, 45);
    font-size: 1.5em;
    text-align: center;
  }
  .modal .lose {
    display: grid;
    position: relative;
    width: calc(6 * (var(--block-size)));
    height:calc(8.4*var(--block-size));
    background: var(--modal-bg);
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
    box-shadow: var(--shadow);
    color: var(--mate);
    font-size: calc(.245 * var(--block-size));
    text-align: center;
  }
  .modal .draw {
    display: grid;
    position: relative;
    width: calc(6 * (var(--block-size)));
    height:calc(8.4*var(--block-size));
    background: var(--modal-bg);
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
    box-shadow: var(--shadow);
    color: var(--stale-mate);
    font-size: calc(.245 * var(--block-size));
    text-align: center;
  }
  .modal .setUp {
    display: grid;
    position: relative;
    width: calc(6 * (var(--block-size)));
    height:calc(8.4*var(--block-size));
    background: var(--modal-bg);
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
    box-shadow: var(--shadow);
    color: var(--stale-mate);
    font-size: calc(.245 * var(--block-size));
    text-align: center;
  }
  .modalMassage {
    height: calc(3.26*var(--block-size));
    place-content: center;
    font-size: var(--block-size);
  }
  .modalButton {
    cursor: pointer;
    transition: background-color 0.3s ease;
    color : #f0f0f0;
    position: relative;
    height: var(--block-size);
    width: calc(5.86 * var(--block-size));;
    border-radius: calc(.132 * var(--block-size));
    top : calc(.98 *  var(--block-size));
    left : calc(.07 * var(--block-size));
    align-content: center;
    background-color: rgb(42, 147, 77);
    box-shadow: var(--shadow);
  }
  .modalButton:hover{
    background-color: rgb(37, 103, 59);
  }
  .modeSelector {
    display: grid;
    position: relative;
    top:calc(1.96 *  var(--block-size));;
    grid-template-columns: repeat(3, calc(1.97*var(--block-size)));
    height: var(--block-size);
    width: calc(5.86 * var(--block-size));
    left: calc(.07 * var(--block-size));

  }
  .options {
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    display: grid;
    background-color: rgb(42, 147, 77);
    width: calc(1.91 * var(--block-size));
    border-radius: calc(.132 * var(--block-size));
    place-content: center;
    background-color: #a2a9a3;
    color : white;
  }
  .options.selected {
    background-color: #6d746e;
    box-shadow: var(--shadow)
  }

  .options:hover {
    background-color: #8a918b;
  }
  .options.selected:hover {
    background-color: #5d635e;
  }
