@media screen and (max-width : 1700px){
  .sideStats {
    position: absolute !important;
    top: 60vh !important;
    place-content: end !important;
    width: 100% !important;
    height: 40vh !important;
    font-size: 0.7em !important;
    animation: none !important;
    /* animation-duration: 3s !important; */
  }
  .sideStats .side {
    width: 100vw !important;
    border-radius: 0 calc(0.5 * var(--block-size)) calc(.1 * var(--block-size)) 0 !important;
    height: 40vh !important;
    text-align: start center !important;
    animation: none !important;
    /* animation-duration: 3s !important; */ 
  }
  .buttonWrapper {
    position: relative;
    top: 0vh !important;
  }
  .sideButton {
    width: 98.5% !important;
  }
  .modal {
    animation: none !important;
    /* animation-duration: 3s !important; */
  }
  .modal .lose {
    animation: none !important;
    left: calc(.05 * var(--block-size)) !important;
    /* animation-duration: 3s !important; */
  }
  .modal .win {
    animation: none !important;
    left: calc(.05 * var(--block-size)) !important;
    /* animation-duration: 3s !important; */
  }
  .modal .draw {
    animation: none !important;
    left: calc(.05 * var(--block-size)) !important;
    /* animation-duration: 3s !important; */
  }
  .modal .setUp {
    animation: none !important;
    left: calc(.05 * var(--block-size)) !important;
    /* animation-duration: 3s !important; */
  }
}
.modal {
    background: rgba(40, 40, 40, 0.7);
    display: grid;
    position: absolute;
    place-content: center;
    grid-template-columns: calc(.20*var(--block-size) calc(8*var(--block-size)));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: unshrinkModal;
    animation-duration: 1.5s;
  }
.sideStats {
    display: grid;
    position: absolute;
    place-content: center;
    grid-template-columns: calc(.20*var(--block-size) calc(8*var(--block-size)));
    width: 30wh;
    height: 100%;
    top: 0;
    left: 0;
    animation: shrinkModal;
    animation-duration: 1.5s;
  }
.sideStats .side {
    display: grid;
    position: relative;
    width: 30vw;
    height: 100vh;
    background: var(--modal-bg);
    border-radius: 0 calc(1 * var(--block-size)) calc(.2 * var(--block-size)) 0;
    box-shadow: var(--shadow);
    color: #1d1e25;
    font-size: 1.5em;
    text-align: center;
    animation: slideleft;
    animation-duration: 1.5s;
  }
.buttonWrapper {
  position: relative;
  top: 31.3vh;
  display: flex;
  flex-direction: column;
}
.sideButton {
    cursor: pointer;
    transition: background-color 0.3s ease;
    color : #f0f0f0;
    position: relative;
    margin-top: calc(.07 * var(--block-size));
    height: var(--block-size);
    width: calc(30vw - (.14 * var(--block-size)));
    border-radius: calc(.132 * var(--block-size)) calc(.132 * var(--block-size)) calc(.132 * var(--block-size)) 0;
    left : calc(.07 * var(--block-size));
    align-content: center;
    /*background-color: rgb(42, 147, 77);*/
    background-color: var(--dark-block);
    box-shadow: var(--shadow);
  }
.sideButton:hover{
    /*background-color: rgb(37, 103, 59);*/
    background-color: #c8672b;
  }
.title {
  margin-top: var(--block-size);
  font-size: 3em;
}
.modal .win {
    display: grid;
    position: relative;
    width: calc(6 * (var(--block-size)));
    height:calc(8.4*var(--block-size));
    background: var(--modal-bg);
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
    box-shadow: var(--shadow);
    color: rgb(26, 131, 45);
    font-size: 1.5em;
    text-align: center;
    animation: slideright;
    animation-duration: 1.5s;
  }
  .modal .lose {
    display: grid;
    position: relative;
    width: calc(6 * (var(--block-size)));
    height:calc(8.4*var(--block-size));
    background: var(--modal-bg);
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
    box-shadow: var(--shadow);
    color: var(--mate);
    font-size: calc(.245 * var(--block-size));
    text-align: center;
    animation: slideright;
    animation-duration: 1.5s;
  }
  .modal .draw {
    display: grid;
    position: relative;
    width: calc(6 * (var(--block-size)));
    height:calc(8.4*var(--block-size));
    background: var(--modal-bg);
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
    box-shadow: var(--shadow);
    color: var(--stale-mate);
    font-size: calc(.245 * var(--block-size));
    text-align: center;
    animation: slideright;
    animation-duration: 1.5s;
  }
  .modal .setUp {
    display: grid;
    position: relative;
    width: calc(6 * (var(--block-size)));
    height:calc(8.4*var(--block-size));
    background: var(--modal-bg);
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
    box-shadow: var(--shadow);
    color: var(--stale-mate);
    font-size: calc(.245 * var(--block-size));
    text-align: center;
    animation: slideright;
    animation-duration: 1.5s;
  }
  .modalMassage {
    height: calc(3.26*var(--block-size));
    place-content: center;
    font-size: var(--block-size);
  }
  .modalButton {
    cursor: pointer;
    transition: background-color 0.3s ease;
    color : #f0f0f0;
    position: relative;
    height: var(--block-size);
    width: calc(5.86 * var(--block-size));;
    border-radius: calc(.132 * var(--block-size));
    top : calc(.98 *  var(--block-size));
    left : calc(.07 * var(--block-size));
    align-content: center;
    /*background-color: rgb(42, 147, 77);*/
    background-color: var(--dark-block);
    box-shadow: var(--shadow);
  }
  .modalButton:hover{
    /*background-color: rgb(37, 103, 59);*/
    background-color: #c8672b;
  }
  .modeSelector {
    display: grid;
    position: relative;
    top:calc(1.96 *  var(--block-size));;
    grid-template-columns: repeat(3, calc(1.97*var(--block-size)));
    height: var(--block-size);
    width: calc(5.86 * var(--block-size));
    left: calc(.07 * var(--block-size));

  }
  .options {
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    display: grid;
    /*background-color: rgb(42, 147, 77);*/
    background-color: var(--dark-block);
    width: calc(1.91 * var(--block-size));
    border-radius: calc(.132 * var(--block-size));
    place-content: center;
    background-color: #a2a9a3;
    color : white;
  }
  .options.selected {
    background-color: #6d746e;
    box-shadow: var(--shadow)
  }

  .options:hover {
    background-color: #8a918b;
  }
  .options.selected:hover {
    background-color: #5d635e;
  }

@keyframes slideleft {
  from {
    width: calc(6 * (var(--block-size)));
    height: calc(8.4*var(--block-size));
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
  }
  to {
    width: 30vw;
    height: 100vh;
    bottom: 0px;
    left: 0px;
    border-radius: 0 calc(1 * var(--block-size)) calc(.2 * var(--block-size)) 0;
  }
}
@keyframes shrinkModal {
  from {
    width: 100%;
  }
  to {
    width: 30%;
  }
}
@keyframes slideright {
  from {
    width: 30vw;
    height: 100vh;
    bottom: 0px;
    left: 0px;
    border-radius: 0 calc(1 * var(--block-size)) calc(.2 * var(--block-size)) 0;
  }
  to {
    width: calc(6 * (var(--block-size)));
    height: calc(8.4*var(--block-size));
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
  }
}
@keyframes unshrinkModal {
  from {
    width: 30%;
  }
  to {
    width: 100%;
  }
}
@keyframes mobileIn {
  from{
    width: calc(6 * (var(--block-size)));
    height: calc(8.4*var(--block-size));
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
  }
  to{
    width: 100vw;
    height: 35vh;
    bottom: 0px;
    left: 0px;
    border-radius: 0 calc(0.5 * var(--block-size)) calc(.1 * var(--block-size)) 0;
  }
}
@keyframes shrinkMobile {
  from {
    height: 100%;
  }
  to {
    height: 35vh;
  }
}
@keyframes mobileOut {
  from{
    width: 100vw;
    height: 35vh;
    bottom: 0px;
    left: 0px;
    border-radius: 0 calc(0.5 * var(--block-size)) calc(.1 * var(--block-size)) 0;
  }
  to{
    width: calc(6 * (var(--block-size)));
    height: calc(8.4*var(--block-size));
    bottom: calc(.2 * var(--block-size));
    left: calc(.2 * var(--block-size));
    border-radius: calc(.2 * var(--block-size));
  }
}
@keyframes unShrinkMobile {
  from {
    height: 35vh;
  }
  to {
    height: 100%;
  }
}