.board {
    display: grid;
    position: relative;
    grid-template-columns: calc(.20*var(--block-size) calc(8*var(--block-size)));
}

.margdown {
    margin-top: calc(.8 * var(--block-size));
}

.blockes {
    display: grid;
    grid-template-columns: repeat(8, var(--block-size));
    grid-template-rows: repeat(8, var(--block-size));
    width: calc(8*var(--block-size));
    height: calc(8 * var(--block-size));
}
.blockesr {
    display: grid;
    grid-template-columns: repeat(8, var(--block-size));
    grid-template-rows: repeat(8, var(--block-size));
    width: calc(8*var(--block-size));
    height: calc(8 * var(--block-size));
    grid-row: 2;
}

.block {
    position: relative;
}

.block--light {
    background: var(--light-block);
    animation: dtol;
    animation-duration: 0.05s;
}
    
.block--dark {
    background: var(--dark-block);
    animation: ltod;
    animation-duration: 0.05s;
}
.incheck::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--block-size);
    height: var(--block-size);
    background-color: var(--check);
    border-radius: 20%;
    left: 0%;
    top: 0%;
}
.mated::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--block-size);
    height: var(--block-size);
    background-color: var(--mate);
    border-radius: 10%;
    left: 0%;
    top: 0%;
}

.stale::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--block-size);
    height: var(--block-size);
    background-color: var(--stalemate);
    border-radius: 10%;
    left: 0%;
    top: 0%;
}

.highlighted::after {
    content: '';
    display: block;
    position: absolute;
    width: calc(.5*var(--block-size));
    height: calc(.5*var(--block-size));
    background-color: var(--highlight);
    border-radius: 50%;
    left: 25%;
    top: 25%;
}
.underAttack:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(var(--block-size) - 12px);
    height: calc(var(--block-size) - 12px);
    background-color: var(--highlight);
    border-radius: 50%;
    left: 0;
    top: 0;
    border: 6px solid var(--highlight);
}
@keyframes ltod {
    0% {
        background: var(--light-block);
    }
    50% {
        background: #999999;
    }   
    100% {
        background: var(--dark-block);
    }
}
@keyframes dtol {
    0% {
        background: var(--dark-block);
    }
    50% {
        background: #999999;
    }
    100% {
        background: var(--light-block);
    }
}