@import './constant.css';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,body{
  margin: 0;
  padding: 0;
}
@media screen and (max-width : 1700px){
  .App {
    place-content: center !important;
    padding-right: 0 !important;
    animation: none !important;
  }
  .preApp {
    place-content: center !important;
    padding-right: 0 !important;
    animation: none !important;
  }
}
.App {
  display: grid;
  padding-right: 15vw;
  place-content: center right;
  height:100vh;
  background: var(--bg-color);
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
  animation: boardin;
  animation-duration: 1.5s;
}
.preApp {
  display: grid;
  padding-right: 27.5vw;
  place-content: center right;
  height:100vh;
  background: var(--bg-color);
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
  animation: boardout;
  animation-duration: 1.5s;
}
.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
  color: #1d1e25;
}
@keyframes boardin {
  0% {
    padding-right: 27.5vw;
  }
  100% {
    padding-right: 15vw;
  }
}
@keyframes boardout {
  0% {
    padding-right: 15vw;
  }
  100% {
    padding-right: 27.5vw;
  }
}